@using renta_autos.Models
@{
    ViewBag.Title = "MostrarDatos";
    List<Modelos> lista = ViewBag.datos != null ? ViewBag.datos : new List<Modelos>();
}

<br />
<center>
    <h2>Listado de Modelos</h2>
</center>
<br />
<br />
<br />
<br />

    <table class="table table-borderless table-responsive">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th>Id</th>
                <th>Modelos</th>
                <th></th>
                <th></th>

            </tr>
        </thead>
        <tbody>
            @if (lista.Count() > 0)
            {
                foreach (var a in lista)
                {
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <td>@a.Id_modelo</td>
                <th>@a.Modelo</th>

                <th>
                    @Html.ActionLink("Editar", "CreateOrUpdateModelos", "Modelo", new { id = a.Id_modelo }, new { @class = "btn btn-success" })
                </th>
                <td>
                    <button type="button" onclick="ObtenerId(@a.Id_modelo)" class="btn btn-danger" data-toggle="modal" data-target="#EliminarModel">
                        Eliminar
                    </button>
                    @*@Html.ActionLink("Eliminar", "DeleteAlumno", "Alumno", new { id_alumno = a.id }, new { @class = "btn btn-danger" })*@
                </td>
            </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="10">
                        <center>
                            <b>¡No hay resultados para mostrar!</b>
                        </center>
                    </td>
                </tr>
            }
        </tbody>

    </table>


    <center>
        <button type="button" class="btn  btn-lg">@Html.ActionLink("Agregar", "CreateOrUpdateModelos", "Modelo")</button>
    </center>


<!-- Modal -->
<div class="modal fade" id="EliminarModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <center>
                    ¿DESEA ELIMINAR EL REGISTRO?
                    <input type="hidden" id="id_oculto" />
                </center>
            </div>
            <div class="modal-footer">
                <CENTER>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    <button type="button" onclick="EliminarRegistro()" class="btn btn-danger">Si</button>
                </CENTER>
            </div>
        </div>
    </div>
</div>



@if ((bool)ViewBag.Delete == true)
{
    <script>
        alert("Registro Eliminado Correctamente")
    </script>
}


<script>
    function ObtenerId(valor) {

        $("#id_oculto").val(valor);
    }
    function EliminarRegistro() {
        var id = $("#id_oculto").val();
        window.location.href = "/Modelo/DeleteModelo?Id_Modelo=" + id;
    }
</script>



